<model>
  <name>robot</name>
  <version>1.0</version>
  <sdf version="1.6">robot.sdf</sdf>
  <author>
    <name>Daniel Quinga Lopez</name>
    <email>da.quinga.2020@alumnos.urjc.es</email>
  </author>
  <description>
    Este archivo config define los parámetros y opciones para el modelo de robot.
  </description>
</model>

