<?xml version="1.0" ?>
<model>
  <name>plataforma_rampas</name>
  <version>1.0</version>
  <sdf version="1.6">plataforma_rampas.sdf</sdf>

  <author>
    <name>Daniel Quinga Lopez</name>
    <email>da.quinga.2020@alumnos.urjc.es</email>
  </author>

  <description>
    Descripción de la plataforma de rampas.
  </description>
</model>

